.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

logs/
**/logs/
*.log
*.log.*
npm-debug.log*
pnpm-debug.log*

node_modules/
**/node_modules/

dist/
**/dist/
build/
**/build/
.temp/
.tmp/

coverage/
**/coverage/

*.tsbuildinfo
**/*.tsbuildinfo

.eslintcache
.cache/
.parcel-cache/

.env
.env.*
!.env.example
!.env.*.example

.vite
**/.vite
.vite.pid
**/.vite.pid

docker compose.override.yml

vendor/
**/vendor/

*.sqlite
*.sqlite3
*.db
**/*.sqlite
**/*.sqlite3
**/*.db

*.orig
*.rej